.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.slide-1 h4:not(.text-price), .slide-2 h4:not(.text-price){
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.catItem,.product-image,.product-title,.product-default,.goCart{
  cursor: pointer;
}

.dropdownmenu-wrapper{
  max-height: 450px;
  overflow-y: scroll;
}

@media (max-width: 991px){
  .header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
  }
  .marginTop {
    margin-top: 10vh;
  }
}

.offerItems{
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: initial;
}
.form-control {
  height: 5rem;
}